<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rmatch application | Respuesta</title>
    <link rel="stylesheet" href="//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
</head>
<body style="background-image:url(<%=asset_path(@parameters[1])%>)">
<h1>Políticamente, te identificas mejor con <%= @parameters[0] %></h1>
<img src=<%= @parameters[2] %>>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>