<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rmatch application | Pregunta</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
</head>
<body>

<% unless @parameters == nil %>
<div class="callout large">
  <div class="row column text-center">
  <p class="lead"><%= @parameters[1] %></p>
    <%= form_for :question do |f| %>
        <% @parameters[2].each_with_index do |answer, index| %>
            <%= radio_button_tag(:answer, index + 1) %>
            <%= label_tag(:answer, answer) %>
        <% end %>
        <div class="row">
          <div class="small-4 small-centered columns">
        <label>¿Qué tan importante es este tema para tí?

          <select name="importance">
            <option value="1">1</option>
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </label>
          </div>

        </div>
        </div>
        <div class="small-4 columns">
          <input type="submit" class="button" value="Submit">
        </div>
    <% end %>
  </div>
</div>
<% end %>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>